@font-face {
  font-family: "Star Wars";
  src: url("./assets/STJEDISE.TTF") format("truetype");
}

/* Reset Styles  */
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background: black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* User Form CSS */
.prepare-crawl {
  width: 60vw;
  text-align: center;
}

.prepare-crawl textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  background: black;
  color: #f0bc1b;
  text-align: center;
  outline: none;
  margin: 0.5rem auto;
  font-weight: bold;
  border-color: grey;
}

#prologue-text {
  color: #4fecd9;
  border-color: rgba(79, 236, 217, 0.4);
}

#banner-text {
  font-family: "Star Wars", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f0bc1b;
  font-size: 2rem;
}

#episode-text,
#title-text,
#prologue-text {
  font-size: 1.5rem;
}

#para-text {
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: left;
}

#submit {
  padding: 1rem;
  border-radius: 5px;
  font-size: 2rem;
  background: black;
  outline: none;
  border: solid 2px #f0bc1b;
  color: #f0bc1b;
  cursor: pointer;
}
